* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  list-style: none; }

/*desktop*/
@media screen and (min-width: 992px) {
  .body {
    overflow-x: hidden; }
  .Background {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../imagens/fundo.jpg);
    background-size: cover;
    background-position: center;
    position: relative; }
  .header {
    margin: 0;
    box-sizing: border-box;
    flex-wrap: nowrap; }
  .nav {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    min-height: 100vh; }
  .Menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none; }
  .Logo {
    background: transparent;
    cursor: pointer;
    position: relative;
    padding: 30px 50px 55px;
    margin-top: 15px;
    margin-left: 15px; }
  .MenuNav span {
    display: block;
    background: #F8F4E9;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform,opacity; }
  .NavList {
    padding: 60px 50px 55px;
    margin-left: 250px;
    flex-wrap: nowrap; }
  .NavList a {
    display: inline-block;
    color: #F8F4E9;
    margin-left: 55px;
    font-size: 14px;
    font-weight: 400;
    flex-wrap: nowrap !important;
    border-bottom: none;
    text-decoration: none; }
  .NavList a:hover {
    color: #D8A566;
    transition: .4s; }
  .MenuNav span:nth-child(2) {
    margin: 7px 0px; }
  .menu-icon {
    color: #D6C6B7;
    display: inline-block;
    margin-left: 55px;
    font-size: 14px;
    font-weight: 400;
    flex-wrap: nowrap;
    cursor: pointer;
    z-index: 1001;
    display: none; }
  .Container {
    padding-top: 10px;
    padding-left: 100px; }
  .Container MainText {
    margin-bottom: 40px; }
  .MainText h1 {
    color: #D6C6B7;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.2;
    margin: 5px 0 5px; }
  .TextEffect {
    color: #D8A566; }
  .MainText p {
    width: 440px;
    max-width: 100%;
    color: #F8F4E9;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 30px; }
  .Social a {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #F8F4E9;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px;
    text-decoration: none; }
  .Social a:hover {
    transform: scale(1.1);
    background: #D8A566;
    transition: .4s; }
  .Container .MainText button {
    color: #F8F4E9;
    background: #D8A566;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    padding: 6px 30px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 2px solid #D8A566;
    cursor: pointer; }
  .Container .MainText button:hover {
    background: transparent;
    border: 2px solid #D8A566;
    color: #D8A566;
    transition: .4s; }
  .menu-icon {
    display: none; } }

/*mobile*/
@media screen and (max-width: 576px) {
  .body {
    overflow-x: hidden; }
  .Background {
    width: 100%;
    height: 100%;
    min-width: 100vh;
    min-height: 240vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../imagens/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: absolute; }
  .header {
    margin: 0;
    box-sizing: border-box;
    flex-wrap: nowrap; }
  .nav {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    min-height: 100vh; }
  .Menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; }
  .Logo {
    background: transparent;
    cursor: pointer;
    position: relative;
    padding: 100px 70px 55px; }
  .MenuNav span {
    display: block;
    background: #F8F4E9;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform,opacity; }
  .NavList {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    transition: all .43s ease; }
  .NavList a {
    display: block;
    color: #F8F4E9;
    font-size: 16px;
    transition: .2s;
    padding: 7px;
    font-weight: 400;
    margin: 15px;
    border-bottom: none;
    border-left: 2px solid #D8A566; }
  .NavList a:hover {
    border-bottom: none;
    background: #D8A566;
    transition: .4s;
    color: #F8F4E9; }
  .MenuNav span:nth-child(2) {
    margin: 7px 0px; }
  .menu-icon {
    color: #D6C6B7;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    font-size: 48px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    flex-wrap: nowrap;
    cursor: pointer;
    z-index: 1001; }
  .menu-icon:hover {
    transform: scale(1.1);
    background: #D8A566;
    transition: .4s;
    color: #F8F4E9; }
  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.1);
    width: 30%;
    height: auto; }
  .dropdown-menu .dropdown-item {
    color: #F8F4E9;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 400;
    margin: 15px;
    border-bottom: none;
    border-left: 2px solid #D8A566;
    text-align: left;
    display: block; }
  .dropdown-menu .dropdown-item:hover {
    border-bottom: none;
    background: #D8A566;
    transition: .4s;
    color: #D8A566; }
  .Container {
    padding-top: 200px;
    padding-left: 110px; }
  .Container MainText {
    margin-bottom: 680px; }
  .MainText h1 {
    color: #D6C6B7;
    font-size: 42px;
    transition: .2s;
    font-weight: 900;
    line-height: 1.2;
    margin: 8px 0 8px; }
  .TextEffect {
    color: #D8A566; }
  .MainText p {
    width: 440px;
    max-width: 100%;
    color: #F8F4E9;
    font-size: 21px;
    transition: .2s;
    line-height: 1.5;
    margin-bottom: 34px; }
  .Social a {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: .2s;
    color: #F8F4E9;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px; }
  .Social a:hover {
    transform: scale(1.1);
    background: #D8A566;
    transition: .4s; }
  .Container .MainText button {
    color: #F8F4E9;
    background: #D8A566;
    font-size: 22px;
    transition: .2s;
    font-weight: 500;
    line-height: 26px;
    padding: 6px 32px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 8px solid #D8A566;
    cursor: pointer; }
  .Container .MainText button:hover {
    background: transparent;
    border: 8px solid #D8A566;
    color: #D8A566;
    transition: .4s; } }

/*tablet*/
@media screen and (min-width: 577px) and (max-width: 991px) {
  .body {
    overflow-x: hidden; }
  .Background {
    width: 100%;
    height: 100%;
    min-width: 100vh;
    min-height: 150vh;
    transition: .2s ease;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../imagens/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: absolute; }
  .header {
    margin: 0;
    box-sizing: border-box;
    flex-wrap: nowrap; }
  .nav {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    min-height: 100vh; }
  .Menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; }
  .Logo {
    background: transparent;
    cursor: pointer;
    position: relative;
    padding: 100px 70px 55px; }
  .MenuNav span {
    display: block;
    background: #F8F4E9;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform,opacity; }
  .NavList {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    transition: all .43s ease; }
  .NavList a {
    display: block;
    color: #F8F4E9;
    font-size: 16px;
    transition: .2s;
    padding: 7px;
    font-weight: 400;
    margin: 15px;
    border-bottom: none;
    border-left: 2px solid #D8A566; }
  .NavList a:hover {
    border-bottom: none;
    background: #D8A566;
    transition: .4s;
    color: #F8F4E9; }
  .MenuNav span:nth-child(2) {
    margin: 7px 0px; }
  .menu-icon {
    color: #D6C6B7;
    display: block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    font-size: 48px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    flex-wrap: nowrap;
    cursor: pointer;
    z-index: 1001; }
  .menu-icon:hover {
    transform: scale(1.1);
    background: #D8A566;
    transition: .4s;
    color: #F8F4E9; }
  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.1);
    width: 30%;
    height: auto; }
  .dropdown-menu .dropdown-item {
    color: #F8F4E9;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 400;
    margin: 15px;
    border-bottom: none;
    border-left: 2px solid #D8A566;
    text-align: left;
    display: block; }
  .dropdown-menu .dropdown-item:hover {
    border-bottom: none;
    background: #D8A566;
    transition: .4s;
    color: #D8A566; }
  .Container {
    padding-top: 70px;
    padding-left: 110px; }
  .Container MainText {
    margin-bottom: 680px; }
  .MainText h1 {
    color: #D6C6B7;
    font-size: 36px;
    transition: .2s;
    font-weight: 900;
    line-height: 1.2;
    margin: 4px 0 8px; }
  .TextEffect {
    color: #D8A566; }
  .MainText p {
    width: 440px;
    max-width: 100%;
    color: #F8F4E9;
    font-size: 16px;
    transition: .2s;
    line-height: 1.5;
    margin-bottom: 26px; }
  .Social a {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: .2s;
    color: #F8F4E9;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px; }
  .Social a:hover {
    transform: scale(1.1);
    background: #D8A566;
    transition: .4s; }
  .Container .MainText button {
    color: #F8F4E9;
    background: #D8A566;
    font-size: 18px;
    transition: .2s;
    font-weight: 500;
    line-height: 26px;
    padding: 6px 32px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 30px;
    border: 8px solid #D8A566;
    cursor: pointer; }
  .Container .MainText button:hover {
    background: transparent;
    border: 8px solid #D8A566;
    color: #D8A566;
    transition: .4s; } }
